extends layout 
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 Adicionar uma nova tarefa
            .w3-container
                form.w3-container(action="/add_task" method="POST")
                    .w3-container
                        label
                            b Tarefa
                        input.w3-input.w3-border.w3-light-grey(type="text", name="task")

                    .w3-container
                        label
                            b Data limite
                        input.w3-input.w3-border.w3-light-grey(type="text", name="dend")

                    .w3-container
                        input.w3-btn.w3-blue-grey(type='submit' value='adicionar')

        .w3-container
            h3 Tarefas
            .w3-container
                table.w3-table-all
                
                    tr
                        th feito
                        th Tarefa
                        th Data limite
                    each t in Tasks
                        tr
                            td
                                form.w3-container(action="/remove_task/" + t.task method="POST")
                                    input(value="remover" type='submit' checked=false)
                            td= t.task
                            td= t.dend

            .w3-container
                form.w3-container(action="/remove_all_tasks" method="POST")
                    input(value="remover todas as tarefas" type='submit' checked=false)

            footer.w3-container.w3-teal
                adress Gerado por LMAA
